
body{
    background-image: url('../images/purpGlitz.jpg');
    font-family: 'Berkshire Swash', cursive;
}

.container{
    background-image: url('../images/glitz.jpg');
    border: 4px solid white;
}

#music{
	float: right;
	
}

